In [1]:
import numpy as np
import pandas as pd

### Creating DataFrame

#### From nested list

In [7]:
df = pd.DataFrame([[1,2,3], [4, 5, 6], [7, 8, 9, 10]], index = ['a', 'b', 'c'], columns = ['W', 'X', 'Y', 'Z'])

In [3]:
df

   0  1  2     3
a  1  2  3   NaN
b  4  5  6   NaN
c  7  8  9  10.0

#### From Dictionary

In [14]:
df = pd.DataFrame({
    'W': [1, 4, 7],
    'X': [2, 5, 8],
    'Y': [3, 6, 9],
    'Z': [None, None,10]
},
    index = 'a b c'.split()
)
df

   W  X  Y     Z
a  1  2  3   NaN
b  4  5  6   NaN
c  7  8  9  10.0

#### DataFrame with MultiIndex

In [24]:
df = pd.DataFrame({
    'W': [1, 4, 7],
    'X': [2, 5, 8],
    'Y': [3, 6, 9],
    'Z': [None, None,10]
},
    index = pd.MultiIndex.from_tuples([
        ('groupA', 1),
        ('groupB', 1),
        ('groupB', 2),
    ], 
        names = ['Group', 'Value']),

)
df

              W  X  Y     Z
Group  Value
groupA 1      1  2  3   NaN
groupB 1      4  5  6   NaN
       2      7  8  9  10.0

In [29]:
# Read index names
df.index.names
# Edit index names
df.index.names = ['nGroup', 'nValue']

FrozenList(['Group', 'Value'])

In [31]:
df

               W  X  Y     Z
nGroup nValue
groupA 1       1  2  3   NaN
groupB 1       4  5  6   NaN
       2       7  8  9  10.0