In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn
np.random.seed(101)

In [7]:
df = pd.DataFrame(randn(6,4),index='A B C D E F'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765
F -1.467514 -0.494095 -0.162535  0.485809

# Subset observations (rows)

In [11]:
# Return the first n rows. Default is 5.
df.head()
df.head(3)
# Return all but the last two rows.
df.head(-2)

df.tail()
df.tail(3)
df.tail(-2)

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212

# Subset variables (columns)

# Subset

In [17]:
df.loc[df['W'] > 0.3, ['W','X']]
# Select rows meeting logical condition, and only the specific columns.

          W         X
A  0.386030  2.084019
B  0.681209  1.035125
E  0.992573  1.192241

### Examples

In [ ]:
# df = world[(world['area']>=3000000) | (world['population']>=25000000)][['name', 'population','area']]
# df = products[(products['low_fats']=='Y') & (products['recyclable']=='Y')][['product_id']]