In [9]:
import pandas as pd

In [10]:
products = pd.DataFrame({
    'product_id':[0, 1],
    'store1':[95, 70],
    'store2':[100, None],
    'store3':[105, 80]
})
products

   product_id  store1  store2  store3
0           0      95   100.0     105
1           1      70     NaN      80

## Gather columns into rows

In [11]:
products.melt(id_vars=['product_id'],value_vars=['store1', 'store2', 'store3'], var_name='store', value_name='price').dropna()

   product_id   store  price
0           0  store1   95.0
1           1  store1   70.0
2           0  store2  100.0
4           0  store3  105.0
5           1  store3   80.0