In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn
np.random.seed(101)

In [3]:
df = pd.DataFrame(randn(6,4),index='A B C D E F'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
F  0.302665  1.693723 -1.706086 -1.159119

# Subset observations (rows)

In [11]:
# Return the first n rows. Default is 5.
df.head()
df.head(3)
# Return all but the last two rows.
df.head(-2)

df.tail()
df.tail(3)
df.tail(-2)

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212

# Subset variables (columns)

# Subset

In [4]:
df.loc[df['W'] > 0.3, ['W','X']]
# Select rows meeting logical condition, and only the specific columns.

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
F  0.302665  1.693723

In [5]:
len(df[df['W']>0.3])

3

### Examples

In [ ]:
# df = world[(world['area']>=3000000) | (world['population']>=25000000)][['name', 'population','area']]
# df = products[(products['low_fats']=='Y') & (products['recyclable']=='Y')][['product_id']]